<%- include("header") -%>


<h2>About</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas blanditiis nulla quis rem, magnam, ratione voluptatibus tenetur soluta tempora temporibus, vel maxime. Molestiae cumque illum eos vero aperiam soluta at.</p> 